<div class="row">
    <div class="col-md-12">
        <h1 class="titulo-interna">Iniciar Sesión</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <p class="texto-interna">Bienvenido a Salud en Casa, elija a continuación la forma como desea ingresar a la plataforma. Recuerde tener a la mano su usuario y contraseña.</p>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="contenedor-imagen">
      <a href="/loginClient">
        <img src="../assets/images/service.png" alt="Loguearse como Usuario" class="boton-imagen">
      </a>
      <p>Loguearse como Usuario</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="contenedor-imagen">
      <a href="/loginAdminUser">
        <img src="../assets/images/manager.png" alt="Loguearse como Administrador" class="boton-imagen">
      </a>
      <p>Loguearse como Administrador</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="contenedor-imagen">
      <a href="/loginUserMessenger">
        <img src="../assets/images/messenger.png" alt="Loguearse como Mensajero" class="boton-imagen">
      </a>
      <p>Loguearse como Mensajero</p>
    </div>
    </div>
  </div>