<div class="row">
  <div class="col-md-12">
      <h1 class="titulo-interna">Historial</h1>
  </div>
</div> 
<mat-card *ngFor="let data of record; let i = index">
  <mat-card-title>
    <h3> <strong> Usario que realizó el cambio: </strong> {{data.user}}</h3>
  </mat-card-title>
 
  <mat-card>
         <h3>Registro antiguo</h3>
          <p> <strong> Medicamento: </strong> {{data.recordOne[0].medicament}}</p>
          <p> <strong> Categoria:</strong> {{data.recordOne[0].category}}</p>
          <p> <strong> Volumen: </strong>{{data.recordOne[0].volumen}}</p>
          <p> <strong> Cantidad:</strong> {{data.recordOne[0].quantity}}</p>
          <p> <strong> Valor:</strong> {{data.recordOne[0].value}}</p>
          <p> <strong> Caracteristicas: </strong>{{data.recordOne[0].characterist}}</p>
          <p> <strong> Descripción:</strong> {{data.recordOne[0].description}}</p>
          <img src="{{ data.recordOne[0].photo}} " width="200" height="200">
  </mat-card> 

  <mat-card >  
      <h3>Registro actual</h3>
            <p> <strong>Categoria: </strong> {{data.recordTwo[0].category}}</p>
            <p> <strong>Volumen:</strong>  {{data.recordTwo[0].volumen}}</p>
            <p> <strong>Cantidad: </strong> {{data.recordTwo[0].quantity}}</p>
            <p> <strong>Valor:</strong>  {{data.recordTwo[0].value}}</p>
            <p> <strong>Caracteristicas: </strong> {{data.recordTwo[0].characterist}}</p>
            <p> <strong>Descripción:</strong>  {{data.recordTwo[0].description}}</p>
            <img src="{{ data.recordTwo[0].photo}} " width="200" height="200">
  
  
    </mat-card> 
 </mat-card>
    
