        
<div class="row">
  <div class="col-md-12">
      <h1 class="titulo-interna">Clientes</h1>
  </div>
</div>
  <mat-card *ngFor = "let data of client">
      <mat-card-header>
      <mat-card-title>
        <p> <strong>Nombre: </strong>{{data.name}}</p> 
        <p> <strong>Apellido: </strong>{{data.lastName}}</p> 
        <p> <strong>Usuario:</strong> {{data.user}}</p> 
        <p> <strong>Edad: </strong>{{data.age}}</p> 
        <p> <strong>Genero: </strong>{{data.gender}}</p> 
      </mat-card-title>
    </mat-card-header>
  </mat-card>   

