<titulo valor="Ampliación servicios pendientes"></titulo>
<div class="row">
    <div class="col-md-6">
       <img src="./assets/maps_routemap.png" alt="Mapa" class="mr-3 rounded align-self-center img-fluid">
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum, erat at fermentum aliquet, mauris urna finibus nibh, bibendum gravida ex risus mollis urna. Aliquam sollicitudin, sapien ut pellentesque faucibus, arcu nulla ullamcorper diam, id sagittis lacus augue quis lacus. Integer id pharetra eros. Vivamus interdum augue ornare dui dapibus finibu</p>
    </div>
    <div class="col-md-12">
        <boton etiqueta="Regresar"></boton>
    </div>
</div>