<titulo valor="Agregar medicamentos"></titulo>
<div class="row">
    <div class="col-md-6">
        <input-text valor="Código"></input-text>
    </div>
    <div class="col-md-6">
        <input-text valor="Nombre medicamento"></input-text>
    </div>
    <div class="col-md-6">
        <input-text valor="Unidades"></input-text>
    </div>
    <div class="col-md-6">
        <input-text valor="Valor unitario"></input-text>
    </div>
    <div class="col-md-6">
        <boton etiqueta="Agregar"></boton>
    </div>
</div>